*{
    margin: 0;
    font-family:"Space Grotesk",sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
.header{
    padding: 1px 5%;
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-flex;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-family: "Outfit" , sans-serif;
    font-weight: normal;
    color: black;
    position: relative;
    font-size: large;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: royalblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.home{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    scroll-snap-align: center;
}
.intro-text{
    margin-top: 12%;
    padding: 0 8%;
}
.intro-text h1{
    font-family:"Space Grotesk",sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.intro-text p{
    font-family:"Space Grotesk",sans-serif;
    font-size: 30px;
    font-weight: lighter;
}
.intro-img{
    padding: 45px;
}
.intro-img img{
    width: 350px;
    height: 350px;
    clip-path:circle(50%);
    object-fit:cover;
}
.about{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4%;
    scroll-snap-align: center;
}
.about-img{
    clip-path: polygon(
        20% 0%,   
        100% 0%,   
        80% 50%,  
        100% 100%, 
        20% 100%,  
        0% 50%     
    );
    width: 600px;
    height: 700px;
    flex-basis: 35%;
}

.about-img img{
    object-fit:cover;
    width: 600px;
    height: 700px;
}
.about-text{
    padding-left: 10%;
    padding-top: 10%;
}
.about-text p{
    font-size: medium;
    line-height: 4vh;
    margin-top: 8vh;
    font-weight: lighter;
}
.skills{
    padding: 100px;
    display: flex;
    scroll-snap-align: center;
}
.skills h1{
    margin-bottom: 3%;
}
.skill-points{
    padding-top: 5%;
    padding-left: 10%;
    flex-basis: 30%;
}
.card-holder{
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    height: 500px;
}
.card-holder-1{
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    gap: 10px;
}
.card-holder-2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.card-holder-3{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    gap: 10px;
}
.card{
    border: 1px solid black;
    width:160px;
    height: 115.47px;
    padding: 20px;
}
.projects{
    display: flex;
    padding-left: 5%;
    scroll-snap-align: center;
}
.projects-container{
    border-radius: 20px;
    flex-basis: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.projects-container img{
    width: 100%;
    height: 300px;
    border: 1px solid;
    border-radius: 30px;
    box-shadow:2px 2px 2px 2px rgb(0,0,0) ;
    margin-bottom: 6px;
}
.projects-brief{
    flex-basis: 45%;
    padding-left: 5%;
    padding-top: 15%;
}
.projects-brief p{
    font-size: medium;
    line-height: 4vh;
    margin-top: 8vh;
    font-weight: lighter;
}
.project-1{
    position:relative;
}
.project-1::after{
    content:'';
    width: 0;
    height:100%;
    background: royalblue;
    border-radius: 30px;
    position: absolute;
    transition: 1.5s;
    opacity:90%;
    left: 0;
    bottom: 0;
}
.project-1:hover::after{
    width: 100%;
}
.project-1::before {
    content: 'I did this project in my 1st semester. The aim of the project was to get familiar with HTML and CSS'; 
    position: absolute;
    top: 30%;
    left: 50%;
    color: white;
    font-size: large; 
    font-family: "Space Grotesk",sans-serif;
    opacity: 0; 
    transition: opacity 3s;
    z-index: 1; 
}

.project-1:hover::before {
    opacity: 1;
}
.project-2{
    position:relative;
}
.project-2::after{
    content:'';
    width: 0;
    height:100%;
    background: royalblue;
    position: absolute;
    transition: 1.5s;
    border-radius: 30px;
    opacity:90%;
    left: 0;
    bottom: 0;
}
.project-2:hover::after{
    width: 100%;
}
.project-2::before {
    content: 'I did this project in my 2nd semester.The aim of the project was to create a full website.This was a group project, and it was a good experience working in a group'; 
    position: absolute;
    top: 30%;
    left: 40%;
    color: white;
    font-size: large; 
    font-family: "Space Grotesk",sans-serif;
    opacity: 0; 
    transition: opacity 3s;
    z-index: 1; 
}
.project-2:hover::before {
    opacity: 1;
}
.download-resume{
    padding:100px ;
}
.download-resume p{
    padding-left: 42%;
    margin-bottom: 3%;
}
.download-resume a{
    text-decoration: none;
    background-color: red;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 47%;
    margin-top: 10%;
    color: white;
}
.download-resume a:hover{
    background-color: brown;
    color: ghostwhite;
}
.icons{
    background-color: black;
    padding: 20px;
    scroll-snap-align: center;
}
.icon{
   padding: 30px;
   display: flex;
}
.icon p{
    color: white;
    padding-left: 2%;
}